<%# product creation errors here, @product coming from the create action %>
<%if @product.errors.any?%>
    <h2>The following errors prevented the product from being saved</h2>
    <ul>
    <%@product.errors.full_messages.each do |msg|%>
       <li> <%=msg%> </li>
    <%end%>
    </ul>
<%end%>


<%=  form_with scope: :product, url: user_products_path, local: true do |f|%>

    <%=f.label :name%><br/>
    <%= f.text_field :name  %><br/>

     <%=f.label :price%><br/>
    <%= f.number_field :price, value: @product.price ? '%.2f' % @product.price : nil, min: 0, step: 0.01 %>$<br/>

    <%=f.label :description%><br/>
    <%= f.text_field :description  %><br/>
<br/>
    <%=f.label :image%><br/>
    <%= f.file_field :image  %><br/>


<br/>
<br/>

  <%= f.submit%>
  <%end%>
<br>
  <%= link_to 'Product Listing Page', user_products_path%>