<%=@product.user.username%>


<%=@product.name%>
<%=@product.description%>
<%=@product.price%>
<div style="width:100px; height:auto">
<%=image_tag(@product.image, style:'width:100%')%>
</div>


<%@product.categories.each do |categorie|%>
<%=categorie.name%>
<%end%>