<h1 class="center"><strong>Showing product details</strong></h1>
<h4>
<table class="striped">
    <thead>
        <tr>
            <th>Product Owner:</th>
            <th>Name:</th>
            <th>Price:</th>
            <th>Description:</th>
            <th>image:</th>
            <th>Show me more:</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <%@products.each do |product|%>
            <td><%=product.user.username %></td>
            <td><%=product.name %></td>
            <td><%=product.price%></td>
            <td><%=product.description%></td>
            <td>
                <div 
                style="width:100px; height:auto">
                <%=image_tag(product.image, style:'width:100%')%>
                </div>
            </td>
            <td><%=link_to 'show', '#'%></td>
        </tr>
    </tbody>
</table>
<%end%>
<p>
  <%=link_to 'Display new product', new_user_product_path%>
</p>
</h4>