<h1 class="center">Showing<strong class=pink-text text-lighten-2  > <%=@product.name%></strong> details</h1>




 <div class="col s12 m7">
      <div class="card">
        <div class="center">
          <img style="width:100px; height:auto">
                <%=image_tag(@product.image, style:'width:15%')%>
                <br><br>
          <span class="card-title"><strong><%=@product.name%></strong> $<%=@product.price %></span>
<br>
        <%=@product.description%>


        </div>
        
        <div class="card-content">
       <h4>  <p>by: <%=@product.user.username %></p></h4>
        </div>
      </div>
    </div>
  </div>




<%= link_to 'Product Listing Page', user_products_path%>