<!DOCTYPE html>
<html>
  <head>
    <title>EHaggel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
         
   
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
Source

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
   
   
  </head>

  <body>
   


  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">E-haggle</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">

        <li> <a href="<%=root_path%>" >home</a> </li>
        <li><a href="<%=about_path%>">About</a></li>
        <li><a target="_blank" rel="noopener noreferrer" href="https://www.google.com/doodles">I'm Feeling Lucky</a></li>
      </ul>
    </div>
  </nav>

  <%=render 'layouts/messages'%>
   
    <%= yield %>

     <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">E-commerce app to barter goods</h5>
                <p class="grey-text text-lighten-4">Bargaining or haggling is a type of negotiation in which the buyer and seller of a good or service debate the price and exact nature of a transaction. If the bargaining produces agreement on terms, the transaction takes place. Bargaining is an alternative pricing strategy to fixed prices.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2020 Copyright Text
            <a class="grey-text text-lighten-4 right" href='<%=terms_path%>'>Terms of use</a>
            </div>
          </div>
        </footer>

     

  </body>
</html>
